mixin checkResult(number, share)
  section.checkResult
    h3 #{number} &middot; Consulta tu puntuación de buró
    .loadingZone
      div.spinner
        i.fa.fa-circle-notch.fa-spin
      div.loadbar
        .loader: .loadNotch
        | Ya casi está listo, solo un poco más
    .chartZone.hidden
      .barChart
        .legend
          .min 300
          .map 850
        .bar
          - for ( i=1; i <= 32 ; i++ )
            .section(class=`section-${i}`)
          .overlay
      .actionZone
        p Tu resultado basado en tu historial del buró de crédito es:
        .number.dataResult
        .desc.excelente
          .title Excelente
          p.subtitle Tú comportamiento es admirable. Estás dentro del 25% de la población con el Score crediticio más alto.
          p.text Realizas pagos completos y puntuales. las instituciones confían en ti y están dispuestas a ofrecerles créditos con menores tasas de interés.
        .desc.bueno
          .title Bueno
          p.subtitle Tu calificación está por encima del promedio. Solo el 25% de la población tiene un mejor Score crediticio.
          p.text Olvidaste alguna fecha de pago o en alguna ocasión sobre giraste el límite de tu tarjeta. Tienes las puertas abiertas a un crédito pero es posible que no te ofrezcan tasas preferenciales.
        .desc.regular
          .title Regular
          p.subtitle Tu comportamiento es intermitente. La mitad de la población presume un mejor Score crediticio.
          p.text La relación entre tus ingresos y lo que destinas a tus deudas no es la mejor. Aún puedes conseguir un crédito, pero con muchas condiciones.
        .desc.malo
          .title Malo
          p.subtitle Tu calificación necesita mejorar. Más del 50% de la población tiene un mejor Score crediticio.
          p.text Tarjetas de crédito sobregiradas y búsqueda de otros créditos.

        .btns.excelente.bueno.regular.displayButtons
          .fb-share-button(
            data-href=`${share.url}`
            data-layout="button"
            data-size="large"
            data-mobile-iframe="false"
          )
            a.btn.btn-facebook.btn-share(href=`${encodeURI('https://www.facebook.com/sharer/sharer.php?u='+share.url+'&amp;src=sdkpreparse')}`)
              i.fab.fa-facebook
              |  compartir en facebook
            |&nbsp;
            a.btn.btn-twitter.btn-share(href=`${encodeURI('https://twitter.com/intent/tweet?original_referer='+share.url+'&ref_src=twsrc^tfw&text='+share.title+'&tw_p=tweetbutton&url='+share.url+'')}`)
              i.fab.fa-twitter
              |  compartir en twitter
