doctype html
- var title = 'Check-a tu score'
- var content = 'http://localhost:8080/check/landing'
- var description = 'Your description'
- var image = 'https://loremflickr.com/1280/500/beach'
block variables

html(lang='es')
  head
    meta(
      property="og:url"
      content=`${content}`
    )
    meta(
      property="og:type"
      content="website"
    )
    meta(
      property="og:title"
      content=`${title}`
    )
    meta(
      property="og:description"
      content=`${description}`
    )
    meta(
      property="og:image"
      content=`${image}`
    )
    title: !=title
    block styles
    block scripts
    != LRScript
  body
    block body
