mixin payment(number, share)
  section.payment
    h3 #{number} &middot; Elige tu forma de pago
    .zone
      input(type="radio", value="money", name="share", checked=true)#money.toggleP
      .fakeCheck.reveal-if-active: i.fas.fa-check-circle
      .fakeCheck.hide-if-active: i.far.fa-circle
      label(for="money") $250.00
      .reveal-if-active.toggleZone
        .alert.warning
          .name Error
          .desc payment_section.php was not found in the server
          .desc2 ERROR trace route: /users/landing/wp-content/plugins/payment.php:55
    .zone
      input(type="radio", value="share", name="share")#share.toggleP
      .fakeCheck.reveal-if-active: i.fas.fa-check-circle
      .fakeCheck.hide-if-active: i.far.fa-circle
      label(for="share")
        span ¡Gratis!
        |  Al compartirlo con tus amigos
      .reveal-if-active.toggleZone
        |Por tiempo limitado, solo comparte en tus redes sociales esta página
        .btns
          .fb-share-button(
            data-href=`${share.url}`
            data-layout="button"
            data-size="large"
            data-mobile-iframe="false"
          )
            a.btn.btn-facebook.btn-share(href=`${encodeURI('https://www.facebook.com/sharer/sharer.php?u='+share.url+'&amp;src=sdkpreparse')}`)
              i.fab.fa-facebook
              |  compartir en facebook
            |&nbsp;
            a.btn.btn-twitter.btn-share(href=`${encodeURI('https://twitter.com/intent/tweet?original_referer='+share.url+'&ref_src=twsrc^tfw&text='+share.title+'&tw_p=tweetbutton&url='+share.url+'')}`)
              i.fab.fa-twitter
              |  compartir en twitter
